.nav-header-main {
  background-color: white;
  overflow: hidden;
  margin: 20px 20px 20px 20px;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
}

.header-logo {
  float: left;
  height: 50px;
}

.nav-header-main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-header-main ul li a{
  float: left;
  color: #616161;
  text-align: center;
  padding: 11px 16px;
  text-decoration: none;
  height: 28px;
  font-size: 25px;
  display: block;
  border-radius: 10px;
}

li a:hover{
  background-color: #eaeaea;
  color: white;
}

.header-login {
  margin: auto;
  padding-right: 10px;
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-login a {
  padding: 15px 10px 15px 10px;
  color: #616161;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
}

.header-login p {
  color: #616161;
  padding: 14px 10px;
  text-decoration: none;
  margin: 0;
  height: 22px;
  font-size: 20px;
}

.header-login a:hover{
  background-color: #eaeaea;
}

.login-form {
  width: 350px;
  height: 250px;
  margin: auto;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  background: white;
}

.register-form {
  width: 350px;
  height: 370px;
  margin: auto;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  background: white;
}

.new-expense {
  width: 350px;
  height: auto;
  margin: auto;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  background: white;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

main {
  margin: 20px 20px 20px 20px;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  background: white;
}
footer {
  background-color: gray;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

body {
  margin: 0px;
	padding: 0px;
  background-image: url("switch6457.png");
  background-color: #eaeaea;
  background-size: 100%;
}

button {
  background-color: black;
  border: none;
  cursor: pointer;
  width: 100%;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}
